{% extends "base_A6.html" %}
{% block header %}
  <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
               
                <h1 class="text-white fs-3 fw-bolder">Home</h1>
                <p class="text-white-100 mb-0">❤️   🏠   ❤️</p>
            </div>
        </header>
{% endblock %}
{% block content %}
<!-- Main Content-->
 <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>🪐</h2>
                  
                        <p class="lead">The world is my studio.</p>
                        
                       
                    </div>
                </div>
            </div>
        </section>
{% endblock %}